@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #F0F1F7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 60vw;
	flex-wrap: wrap;
}

.card {
	background-color: #fff;
	border-radius: 3px;
	padding: 30px;
	margin: 10px;
	text-align: center;
	width: 245px;
	max-width: 100%;
}

.card img {
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	width: 75px;
    display: block;
}

.card.active {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	transform: scale(1.3);
}

.card h4 {
	margin: 10px 0;
}

.card small {
	color: #777;
	display: block;
}

.card button {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #999;
	padding: 10px 25px;
	margin-top: 25px;
}

.card.active button {
	background-color: #748DFF;
	border: 0;
	box-shadow: 0px 2px 5px rgba(116, 141, 255, 0.7);
	color: #fff;
}

@media screen and (max-width: 600px) {
	.cards {
		flex-wrap: wrap;
        max-width: 90vw;
	}
	

}


/* Media Queries */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; /* Wider on small screens */
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 95%; /* Almost full width on very small screens */
    }
}

.close {
    display: none; /* Hide the close button */
}

input[type="text"] {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}